body {
	font-family: 'Pompiere', sans-serif;
	text-align: center;
	letter-spacing: 2.5px;
	max-width: 1500px;
	margin: 0 auto;
}

header {
	/*outline: solid black 2px;*/
	margin-bottom: 3em;
	border-bottom: 4px double black;
}

#content-container {
	/*outline: solid black 2px;*/
}

#panel-left, #panel-right {
	/*outline: solid black 2px;*/
	width: 35%;
}

#panel-left {
	float: left;
}

#panel-right {
	float: right;
}

.gallery > img {
	width: 8em;
}

#main {
	/*outline: solid black 2px;*/
	font-size: 20px;
	margin: 0 auto;
	padding: 10px 0 20px;
}

.appt-btn {
	margin: 20px;
	margin-top: 40px;

}

.appt-btn > a {
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	padding-left: 12px;
	padding-top: 12px;
	background: black;
	color: white;
	border-radius: 5px;
}

.appt-btn > a:hover {
	background: #556B2F;
	color: white;
}

#underline {
	/*outline: solid black 2px;*/
	width: 10%;
}

footer {
	width: 10%;
	bottom: 0;
	font-size: 8pt;
	text-align: center;
	margin: 10em auto 0;
}

#contact-form {
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}

fieldset {
	border: none;
}

input, textarea {
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px;
	margin-bottom: 10px;
}

textarea {
	vertical-align: middle;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Pompiere', sans-serif;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Pompiere', sans-serif;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Pompiere', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Pompiere', sans-serif;
}
